.textLink{
    text-decoration: none !important;
    color: #fff !important;
    font-weight: bold;
}
.navbar{
    background-color: rgb(230, 174, 122) !important;
}
.logo{
    width: 40px;
    margin-left: -20px; 
    padding-left: 20px;

}