.titulo{
    text-align: center;
}

.imagem{
    size: 100vw;
}

body{
    background-color:rgb(24, 61, 97) ;
    background-repeat: no-repeat;
    background-size: 100%;
}
 .botao{
    border-color: white !important;
    background-color: white !important;
}
 .links{
    text-decoration: none;
 }